USE [shoestore]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 2022/7/6 16:08:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_USERNAME] [varchar](50) NOT NULL,
	[ORDER_PRODUCT_NAME] [varchar](50) NOT NULL,
	[ORDER_PRODUCT_PRICE] [decimal](18, 0) NOT NULL,
	[ORDER_PRODUCT_IMAGE] [varchar](50) NOT NULL,
	[ORDER_NUMBER] [int] NOT NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
