USE [ShoeStore]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 7/3/2022 2:12:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[USER_EMAIL] [varchar](50) NOT NULL,
	[USER_PASSWORD] [varchar](50) NOT NULL,
	[USER_FNAME] [varchar](50) NOT NULL,
	[USER_LNAME] [varchar](50) NOT NULL,
	[USER_STATUS] [decimal](6, 0) NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USER_EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [DF_USER_USER_STATUS]  DEFAULT ((0)) FOR [USER_STATUS]
GO
